# Core Dependencies
PyQt5
PyQtChart
pandas
numpy
scipy
scikit-learn
pyqtgraph

# Data Visualization
seaborn
matplotlib
windrose

# UI Enhancement
qdarkstyle

# Excel Support
openpyxl
xlsxwriter

# Build Tools
pyinstaller
wheel
setuptools

# Development Tools
black
pylint
pytest

# environement variables
python-dotenv

# Add to requirements.txt:
sqlalchemy
alembic

# for map
folium
PyQtWebEngine
